h1 {
  font-family:sans-serif;
  font-weight: bolder;
  color: #926239;
  text-align: center;
  }

h2 {
  color: #926239;
  font-weight: bold;
}

h3 {
  text-align: left;
  color: #926239;
}

img {
  float: right;
  margin: 10px;
  text-align: justify;

}

.sidebar {
  width: 30%;
  height: 87%;
  text-align: center;
  float: left;
  background-color: #FAF0E6;
  font-size: 15px;
}

.column {
  background-color: #D2B48C;
  width: 45%;
  height: 40%;
  font-size: 15px;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
}

#showcase {
  background-image: url("../images/landing.jpg");
  background-position: center;
  background-size: cover;
  height: 120vh;
}

.rounded {
  width: 200px;
  margin: auto;
  float: left;
}

.rounded img {
  border-radius: 50%;
}
