h1 {
  font-family:sans-serif;
  font-weight: bolder;
  color: #926239;
  text-align: left;
  
}

h2 {
  color: #926239;
  font-weight: bold;
}

h3 {
  text-align: left;
}

img {
  float: left;
  margin: 10px;

}

.column {
    float: inherit;
    text-align: right;
}

.column ol {
  background-color: lightgrey;
  float: inherit;
  text-align: center;
}
}
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
}

#showcase {
  background-image: url("../images/landing.jpg");
  background-position: center;
  background-size: cover;
  height: 110vh;
}

.rounded {
  width: 200px;
  margin: auto;
  float: left;
}

.rounded img {
  border-radius: 50%;
}
