h1 {
  font-family:sans-serif;
  font-weight: bolder;
  color: #926239;
  text-align: center;
}
#showcase {
  background-image: url("../images/contacts.webp");
  background-position: center;
  background-size: cover;
  height: 120vh;
}

ul {
  color: black;
  text-align: center;
  font-size: 25px;
  background-color: inherit;

}

.availability {
  color: #CD5C5C;
}

p {
  color: #808000;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.column {
  display: grid;

}
